/*General*/

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

nav {
  list-style: none;
  text-decoration: underline;
}

a {
  color: seashell;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
